
.mainDiv {
    width: 700px;
    margin-left: 200px;
    margin-top: 50px;
    background-color: rgb(191, 189, 192);
}

.header, .tableDiv {
    display: flex;
    justify-content: center;
    margin-left: 10px;
}

.header > h1 {
    color: blueviolet;
}

.formDiv {
    display: flex;
    justify-content: start;
    margin-left: 10px;
    color: blueviolet;
    font-weight: bolder;

} 

input {
    color: blueviolet;
    font-weight: bolder;
    border-radius: 2px;

}

/* Table start */
table {
    margin-top: 50px;
    width: 100%;
}

th, tr, td {
    
    padding: 10px;
    text-align: center;
    border: 2px solid black;
    border-radius: 3px;

  }

  th {
    color: blueviolet; 
    border-color: blueviolet;   
  }

/* Table end */